<div class="container-fluid">
  <div class="input-group mb-3 mt-3 w-75 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      #searchText
    />
  </div>
  <div class="row">
    <div
      class="col-12 col-sm-6 col-lg-4 mb-3"
      *ngFor="let friend of friendsService.searchResults"
    >
      <div class="card bg-primary text-light">
        <div class="card-header">
          <h5>{{ friend.fullName }}</h5>
        </div>
        <div class="card-body">
          <sn-avatar [user]="friend" width="40px" height="40px"></sn-avatar>
          <a class="ml-3">Add to friends</a>
        </div>
      </div>
    </div>
  </div>
</div>
