<sn-publisher (publish)="addPost($event)"></sn-publisher>

<section>
  <article class="card mt-3" *ngFor="let post of wallService.posts">
    <div class="card-header d-flex bg-primary text-light">
      <sn-avatar [user]="userService.currentUser" height="60px"></sn-avatar>
      <div class="ml-3">
        <h3>{{ post.author?.fullName }}</h3>
        <small class="badge badge-light">{{
          post.createdAt | userFriendly
        }}</small>
      </div>
    </div>

    <div class="card-body my-3">
      <p [innerHTML]="convertToHtml(post.content)"></p>
    </div>

    <hr />
    <div class="p-2">
      <sn-publisher (publish)="addComment(post.id, $event)"></sn-publisher>

      <ng-container *ngFor="let comment of post.comments">
        <div
          class="d-flex my-3"
          [ngClass]="{
            'flex-row-reverse':
              comment.author.uuid === userService.currentUser.uuid
          }"
        >
          <sn-avatar
            [user]="
              comment.author.uuid === userService.currentUser.uuid
                ? userService.currentUser
                : comment.author
            "
            width="60px"
            height="60px"
          ></sn-avatar>
          <div
            class="bg-primary text-light rounded flex-grow-1 mx-3 p-2 comment"
            [class.bg-info]="
              comment.author.uuid === userService.currentUser.uuid
            "
          >
            <h3>{{ comment.author?.fullName }}</h3>
            <p>{{ comment.message }}</p>
            <small>{{ comment.createdAt | userFriendly }}</small>
          </div>
        </div>
      </ng-container>
    </div>
  </article>
</section>
